<section class="hero-banner bg-success">
    <div class="container text-center">
        
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h2 class="text-white-1">WEB ARTISANS FOR YOUR PROJECTS!</h2><hr>
                <div class="row">
                    <div class="col-sm-12 text-white-1">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="portfolio-block block">
    <div class="container">
        <div class="text-center">
            <div class="portfolio-filter btn-group">
                <a href="javascript:;" class="btn btn-default active" data-filter="*" data-target=".portfolio-container">All</a>
                <a href="javascript:;" class="btn btn-default" data-filter=".design" data-target=".portfolio-container">Design</a>
                <a href="javascript:;" class="btn btn-default" data-filter=".development" data-target=".portfolio-container">Development</a>
                <a href="javascript:;" class="btn btn-default" data-filter=".logo" data-target=".portfolio-container">Logo</a>
                <a href="javascript:;" class="btn btn-default" data-filter=".photo" data-target=".portfolio-container">Photo</a>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="portfolio-container zoom-gallery">
    
            <div class="project development design">
                <a href="/images//portfolio/image1.jpg" data-source="/images//portfolio/image1.jpg" title="Some Project Information" class="gallery-item effect-milo">
                    <img src="/images//portfolio/thumbs/image1.jpg">
                </a>
                <div class="btn-group pull-right"><a class="btn btn-link"><i class="icon-link2"></i></a></div>
                <a href="javascript:;" class="gallery-item-title">SOMETHING CORPORATION</a>
                <p class="gallery-item-descr">
                    <i class="icon-tag4"></i> Development, Design
                </p>
                <p class="text-sm text-muted">
                    HTML5, CSS3, Wordpress
                </p>
            </div>

            <div class="project photo">
                <a href="/images//portfolio/image2.jpg" data-source="/images//portfolio/image2.jpg" title="Some Project Information" class="gallery-item effect-milo">
                    <img src="/images//portfolio/thumbs/image2.jpg">
                </a>
                <div class="btn-group pull-right"><a class="btn btn-link"><i class="icon-link2"></i></a></div>
                <a href="javascript:;" class="gallery-item-title">SOMETHING CORPORATION</a>
                <p class="gallery-item-descr">
                    <i class="icon-tag4"></i> Photo
                </p>
                <p class="text-sm text-muted">
                    Adobe Illustrator
                </p>
            </div>

            <div class="project development design">
                <a href="/images//portfolio/image3.jpg" data-source="/images//portfolio/image3.jpg" title="Some Project Information" class="gallery-item effect-milo">
                    <img src="/images//portfolio/thumbs/image3.jpg">
                </a>
                <div class="btn-group pull-right"><a class="btn btn-link"><i class="icon-link2"></i></a></div>
                <a href="javascript:;" class="gallery-item-title">SOMETHING CORPORATION</a>
                <p class="gallery-item-descr">
                    <i class="icon-tag4"></i> Development, Design
                </p>
                <p class="text-sm text-muted">
                    HTML5, CSS3, Wordpress, Adobe Illustrator
                </p>
            </div>

            <div class="project photo design">
                <a href="/images//portfolio/image4.jpg" data-source="/images//portfolio/image4.jpg" title="Some Project Information" class="gallery-item effect-milo">
                    <img src="/images//portfolio/thumbs/image4.jpg">
                </a>
                <div class="btn-group pull-right"><a class="btn btn-link"><i class="icon-link2"></i></a></div>
                <a href="javascript:;" class="gallery-item-title">SOMETHING CORPORATION</a>
                <p class="gallery-item-descr">
                    <i class="icon-tag4"></i> Photo, Design
                </p>
                <p class="text-sm text-muted">
                    HTML5, CSS3, Wordpress
                </p>
            </div>

            <div class="project logo design">
                <a href="/images//portfolio/image5.jpg" data-source="/images//portfolio/image5.jpg" title="Some Project Information" class="gallery-item effect-milo">
                    <img src="/images//portfolio/thumbs/image5.jpg">
                </a>
                <div class="btn-group pull-right"><a class="btn btn-link"><i class="icon-link2"></i></a></div>
                <a href="javascript:;" class="gallery-item-title">SOMETHING CORPORATION</a>
                <p class="gallery-item-descr">
                    <i class="icon-tag4"></i> Design, Logo
                </p>
                <p class="text-sm text-muted">
                    HTML5, CSS3, Wordpress
                </p>
            </div>

            <div class="project photo design">
                <a href="/images//portfolio/image6.jpg" data-source="/images//portfolio/image6.jpg" title="Some Project Information" class="gallery-item effect-milo">
                    <img src="/images//portfolio/thumbs/image6.jpg">
                </a>
                <div class="btn-group pull-right"><a class="btn btn-link"><i class="icon-link2"></i></a></div>
                <a href="javascript:;" class="gallery-item-title">SOMETHING CORPORATION</a>
                <p class="gallery-item-descr">
                    <i class="icon-tag4"></i> Photo, Design
                </p>
                <p class="text-sm text-muted">
                    HTML5, CSS3, Wordpress
                </p>
            </div>

            <div class="project logo design">
                <a href="/images//portfolio/image7.jpg" data-source="/images//portfolio/image7.jpg" title="Some Project Information" class="gallery-item effect-milo">
                    <img src="/images//portfolio/thumbs/image7.jpg">
                </a>
                <div class="btn-group pull-right"><a class="btn btn-link"><i class="icon-link2"></i></a></div>
                <a href="javascript:;" class="gallery-item-title">SOMETHING CORPORATION</a>
                <p class="gallery-item-descr">
                    <i class="icon-tag4"></i> Logo, Design
                </p>
                <p class="text-sm text-muted">
                    HTML5, CSS3, Wordpress
                </p>
            </div>

            <div class="project development design">
                <a href="/images//portfolio/image8.jpg" data-source="/images//portfolio/image8.jpg" title="Some Project Information" class="gallery-item effect-milo">
                    <img src="/images//portfolio/thumbs/image8.jpg">
                </a>
                <div class="btn-group pull-right"><a class="btn btn-link"><i class="icon-link2"></i></a></div>
                <a href="javascript:;" class="gallery-item-title">SOMETHING CORPORATION</a>
                <p class="gallery-item-descr">
                    <i class="icon-tag4"></i> Development, Design
                </p>
                <p class="text-sm text-muted">
                    Android, IOS
                </p>
            </div>

            <div class="project development design">
                <a href="/images//portfolio/image9.jpg" data-source="/images//portfolio/image9.jpg" title="Some Project Information" class="gallery-item effect-milo">
                    <img src="/images//portfolio/thumbs/image9.jpg">
                </a>
                <div class="btn-group pull-right"><a class="btn btn-link"><i class="icon-link2"></i></a></div>
                <a href="javascript:;" class="gallery-item-title">SOMETHING CORPORATION</a>
                <p class="gallery-item-descr">
                    <i class="icon-tag4"></i> Development, Design
                </p>
                <p class="text-sm text-muted">
                    HTML5, CSS3, Drupal, jQuery
                </p>
            </div>

            <div class="project design">
                <a href="/images//portfolio/image10.jpg" data-source="/images//portfolio/image10.jpg" title="Some Project Information" class="gallery-item effect-milo">
                    <img src="/images//portfolio/thumbs/image10.jpg">
                </a>
                <div class="btn-group pull-right"><a class="btn btn-link"><i class="icon-link2"></i></a></div>
                <a href="javascript:;" class="gallery-item-title">SOMETHING CORPORATION</a>
                <p class="gallery-item-descr">
                    <i class="icon-tag4"></i> Design
                </p>
                <p class="text-sm text-muted">
                    Adobe Photoshop
                </p>
            </div>
    
        </div>
    </div>
</section>

    <section class="subscribe-block text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h1>SUBSCRIBE</h1>
                <p>Please subscribe to our newsletter so you can learn the updates for new products before anyone else. Also we will spam your mailbox.</p>
                <hr class="divider">
                <form action="" role="form">
                        <input type="text" placeholder="Enter your email address" name="subscribe-input" id="subscribe-input" class="form-control input-lg">
                        <button class="btn btn-primary btn-lg subscribe-btn" type="submit">Submit</button>
                </form>
            </div>
    </div>
</section>        