<section class="hero-banner">
        <div class="container text-center">

            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <h1 class="text-primary">NOT JUST</h1>
                    <h2 class="text-default">ANOTHER PROJECT!</h2><hr>
                    <div class="row text-justify">
                        <div class="col-sm-6">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </div>
                        <div class="col-sm-6">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="hero-banner">
        <div class="container">
            <div class="row text-justify">
                <div class="col-sm-4">
                    <h2 class="text-primary">WE OFFER</h2>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in <a href="#">reprehenderit</a> in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
                <div class="col-sm-8">
                    <b>HTML5</b>
                    <div class="progress animated-progressbar">
                      <div class="progress-bar" data-delay="600" data-percentage="89" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                      </div>
                    </div>
                    <b>jQuery</b>
                    <div class="progress animated-progressbar">
                      <div class="progress-bar" data-delay="900" data-percentage="75" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                      </div>
                    </div>
                    <b>Wordpress</b>
                    <div class="progress animated-progressbar">
                      <div class="progress-bar" data-delay="1200" data-percentage="82" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                      </div>
                    </div>
                    <b>Laravel</b>
                    <div class="progress animated-progressbar">
                      <div class="progress-bar" data-delay="1500" data-percentage="48" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="features-block services-features">
        <div class="container">
            <div class="row">
                <div class="col-sm-4" data-animate="fadeInLeft" data-delay="0">
                    <i class="icon-md icon-code3"></i>
                    <h4>CLEAN CODING</h4>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident.</p>
                </div>
                <div class="col-sm-4" data-animate="fadeInLeft" data-delay="300">
                    <i class="icon-md icon-paint-format"></i>
                    <h4>SIMPLE & ELEGANT DESIGN</h4>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident.</p>
                </div>
                <div class="col-sm-4" data-animate="fadeInLeft" data-delay="600">
                    <i class="icon-md icon-users2"></i>
                    <h4>HAPPY CLIENTS</h4>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4" data-animate="fadeInLeft" data-delay="900">
                    <i class="icon-md icon-mobile3"></i>
                    <h4>MOBILE DEVELOPMENT</h4>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident.</p>
                </div>
                <div class="col-sm-4" data-animate="fadeInLeft" data-delay="1200">
                    <i class="icon-md icon-camera4"></i>
                    <h4>PICTURE PERFECT WEBSITES</h4>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident.</p>
                </div>
                <div class="col-sm-4" data-animate="fadeInLeft" data-delay="1500">
                    <i class="icon-md icon-support"></i>
                    <h4>CUSTOMER SUPPORT</h4>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="video-block text-center">
        <div class="video-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <h1 class="text-success">WHY US?</h1>
                    <div class="row">
                        <div class="col-sm-6 text-left">
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><br>
                            <p>
                                <a href="javascript:;" class="btn btn-default btn-bordered btn-pill">SEE DETAILS</a>
                            </p>
                        </div>
                        <div class="col-sm-6 text-left">
                            <ul class="list-unstyled whyuslist">
                                <li><i class="icon-checkmark2 text-default"></i> 40 years of experience on Web development</li>
                                <li><i class="icon-checkmark2 text-default"></i> 10 billion happy clients</li>
                                <li><i class="icon-checkmark2 text-default"></i> HTML6 & CSS4 web design</li>
                                <li><i class="icon-checkmark2 text-default"></i> 50 years guarantee with unlimited support</li>
                                <li><i class="icon-checkmark2 text-default"></i> Headquarters in Silicon Valley</li>
                                <li>and more...</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <video loop="" muted="" autoplay="" data-src="images/video/Site_Map_Drawing_from_LIFEOFVIDS_on_296353493.mp4">
        </video>
    </section>

    <section class="pricing-tables block" id="packages">
        <div class="container">
            <h2>OUR PACKAGES</h2><br>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="pricing text-center">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pricing-header">
                                    <h3>TRIAL</h3>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pricing-price">
                                FREE<br>
                                <p class="text-sm">Duis aute irure dolor in repre.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <ul class="list-unstyled pricing-features">
                                <li><i class="icon-star7"></i><i class="icon-star7"></i><i class="icon-star6"></i><i class="icon-star5"></i><i class="icon-star5"></i></li>
                                <li>2 GB Diskspace</li>
                                <li>10 GB Traffic</li>
                                <li>10 Email Accounts</li>
                                <li>1 Database</li>
                                <li>Limited Support</li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pricing-buttons">
                                    <a class="btn btn-block btn-primary">PURCHASE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="pricing text-center">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pricing-header">
                                    <h3>BASIC</h3>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pricing-price">
                                    <span class="pricing-currency">$</span>19<span class="pricing-period">/m</span><br>
                                    <p class="text-sm">Duis aute irure dolor in repre.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <ul class="list-unstyled pricing-features">
                                <li><i class="icon-star7"></i><i class="icon-star7"></i><i class="icon-star6"></i><i class="icon-star5"></i><i class="icon-star5"></i></li>
                                <li>10 GB Diskspace</li>
                                <li>50 GB Traffic</li>
                                <li>10 Email Accounts</li>
                                <li>1 Database</li>
                                <li>Limited Support</li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pricing-buttons">
                                    <a class="btn btn-block btn-primary">PURCHASE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="pricing text-center pricing-selected">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pricing-header">
                                    <h3>PROFESSIONAL</h3>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pricing-price">
                                    <span class="pricing-currency">$</span>79<span class="pricing-period">/m</span><br>
                                    <p class="text-sm">Duis aute irure dolor in repre.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <ul class="list-unstyled pricing-features">
                                <li><i class="icon-star7"></i><i class="icon-star7"></i><i class="icon-star6"></i><i class="icon-star5"></i><i class="icon-star5"></i></li>
                                <li>20 GB Diskspace</li>
                                <li>100 GB Traffic</li>
                                <li>100 Email Accounts</li>
                                <li>10 Database</li>
                                <li>Limited Support</li>
                                <li><b>Free SSL Certificate</b></li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pricing-buttons">
                                    <a class="btn btn-block btn-primary">PURCHASE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="pricing text-center">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pricing-header">
                                    <h3>PLATINIUM</h3>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pricing-price">
                                    <span class="pricing-currency">$</span>149<span class="pricing-period">/m</span><br>
                                    <p class="text-sm">Duis aute irure dolor in repre.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <ul class="list-unstyled pricing-features">
                                <li><i class="icon-star7"></i><i class="icon-star7"></i><i class="icon-star6"></i><i class="icon-star5"></i><i class="icon-star5"></i></li>
                                <li>2000 GB Diskspace</li>
                                <li>10 TB Traffic</li>
                                <li>Unlimited Email Accounts</li>
                                <li>Unlimited Database</li>
                                <li>Unlimited Support</li>
                                <li><b>Free SSL Certificate</b></li>
                                <li><b>Free Domain</b></li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pricing-buttons">
                                    <a class="btn btn-block btn-primary">PURCHASE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="brands-block text-center">
        <div class="container">
            <h1 class="text-success">Some of our valued clients...</h1>
            <div id="brands" class="owl-carousel owl-theme">
                <div class="item">
                    <a href="javascript:;" title="Coca Cola">
                        <img class="image-sized" src="images/brands/cocacola.png">
                    </a>
                </div>

                <div class="item">
                    <a href="javascript:;" title="Microsoft">
                        <img class="image-sized" src="images/brands/microsoft.png">
                    </a>
                </div>

                <div class="item">
                    <a href="javascript:;" title="Samsung">
                        <img class="image-sized" src="images/brands/samsung.png">
                    </a>
                </div>

                <div class="item">
                    <a href="javascript:;" title="Google">
                        <img class="image-sized" src="images/brands/google.png">
                    </a>
                </div>

                <div class="item">
                    <a href="javascript:;" title="Sony">
                        <img class="image-sized" src="images/brands/sony.png">
                    </a>
                </div>

                <div class="item">
                    <a href="javascript:;" title="Virgin">
                        <img class="image-sized" src="images/brands/virgin.png">
                    </a>
                </div>

                <div class="item">
                    <a href="javascript:;" title="Instragram">
                        <img class="image-sized" src="images/brands/instagram.png">
                    </a>
                </div>
            </div>
        </div>
    </section>

        <section class="subscribe-block text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h1>SUBSCRIBE</h1>
                    <p>Please subscribe to our newsletter so you can learn the updates for new products before anyone else. Also we will spam your mailbox.</p>
                    <hr class="divider">
                    <form action="" role="form">
                            <input type="text" placeholder="Enter your email address" name="subscribe-input" id="subscribe-input" class="form-control input-lg">
                            <button class="btn btn-primary btn-lg subscribe-btn" type="submit">Submit</button>
                    </form>
                </div>
        </div>
    </section>
