<footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <a href="#"> 
                            <img src="assets/img/logo.png" alt="Coco Frontend Template" class="footer-logo"> 
                        </a>
                        <h5>Designing your future...</h5>
                        
                    </div>


                    <div class="col-sm-4">
                        <h4>CONTACT US</h4>
                        <ul class="list-unstyled company-info">
                            <li><i class="icon-map-marker"></i> 1375 Richmond Avenue<br>Minneapolis, MN 90017</li>
                            <li><i class="icon-phone3"></i> 1-800-666-666</li>
                            <li><i class="icon-envelope"></i> <a href="mailto:contact@somecorporation.com">contact@somecorporation.com</a></li>
                            <li><i class="icon-alarm2"></i> Monday - Friday: <strong>8:00 am - 7:00 pm</strong><br>Saturday - Sunday: <strong>Closed</strong></li>
                        </ul>
                    </div>
                    
                    <div class="col-sm-4 hidden-xs">
                        <h4>SOCIAL STREAM</h4>
                        <ul class="list-unstyled social-stream">
                            <li><i class="icon-twitter4"></i> We just released an awesome frontend template for our coco template. Come on and check it out! - <a href="http://goo.gl/ylVWzR">http://goo.gl/ylVWzR</a><br><span class="text-default text-sm">Oct 20</span></li>
                            <li><i class="icon-twitter4"></i> Our template is going popular. Don't miss it!<br><span class="text-default text-sm">Oct 19</span></li>
                            <li><i class="icon-facebook4"></i> World is becoming a crazy place. Try to avoid toxic materials.<br><span class="text-default text-sm">Oct 19</span></li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="row"> 
                    <div class="col-sm-6">
                        <p>Copyright &copy; 2014 by <a href="http://www.hubancreative.com" target="_blank">HubanCreative</a></p> 
                    </div>
                    <div class="col-sm-6 text-right">
                        <div class="social-links">
                            <a href="javascript:;">
                                <i class="icon-twitter4"></i>
                            </a>
                            <a href="javascript:;">
                                <i class="icon-facebook4"></i>
                            </a>
                            <a href="javascript:;">
                                <i class="icon-instagram3"></i>
                            </a>
                            <a href="javascript:;">
                                <i class="icon-vimeo3"></i>
                            </a>
                            <a href="javascript:;">
                                <i class="icon-tumblr4"></i>
                            </a>
                            <a href="javascript:;">
                                <i class="icon-googleplus6"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <a class="tothetop" href="javascript:;"><i class="icon-angle-up"></i></a>
        </div>