<div class="row">
	<div class="col-sm-2 col-sm-offset-3">
		<div class="plan_box">
			<h3>Plan Free</h3>
			<p> No Charge
				<br />
				Good for evaluation
			</p>
		</div>
	</div>
	<div class="col-sm-2">
		<div class="plan_box">
			<h3>Plan Good</h3>
			<p> Everything in Free
				<br />
				Good plan for small businesses
			</p>
		</div>
	</div>
	<div class="col-sm-2">
		<div class="plan_box">
			<h3>Plan Awesome</h3>
			<p> Everything in Plan Good
				<br />
				Good plan for enterprises
			</p>
		</div>
	</div>
</div>