<%= javascript_include_tag "https://js.stripe.com/v2/" %>
<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
	<%= form_tag "/subscriptions/update_card_details", id: "payment-form" do %>
	
	  <span class="payment-errors text-danger"></span>

	  
	  <div class="form-group">
	    <label for="card">Card Number</label>
	      
	      <input type="text" size="20" id="card" class = "form-control" data-stripe="number"/>
	    
	  </div>

	  <div class="form-group">
	    <label for="cvc">CVC</label>
	     
	      <input type="text" size="4" id="cvc" class = "form-control" data-stripe="cvc"/>
	    
	  </div>
	  <label for="exp">Expiration (MM/YYYY)</label>
	  <div class="form-group">
	  <div >

	    <input type="text" size="2" id ="exp" class = "form-control exp-field" data-stripe="exp-month"/>
	  
	    <span> / </span>
	    <input type="text" size="4" class = "form-control exp-field" data-stripe="exp-year"/>
	  	
	  </div>
	    
	      
	      
	  </div>

	  <button type="submit" class="btn btn-primary" >Update Card</button>
	<% end %>

		
	</div>
</div>

<script type="text/javascript">
  // This identifies your website in the createToken call below
  Stripe.setPublishableKey('pk_test_nOauY8BJQKuxqsWcWGvXlv7v');
  // ...
</script>

